// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-info 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}